.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.line-box {
    width: 1920px;
    height: 3px;
    background-color: #29902C;
}

.line-use {
    margin-bottom: 10px;
    width: 1300px;
    height: 2px;
    background-color: gray;
}

.logo {
    margin-right: 1000px;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.notice-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid darkgreen;
    background-color: #29902C;
    color: darkgreen;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.login-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.list-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/*모달*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    border : 5px #29902C solid;
    background: #FFFFFF;
    border-radius: 50px;
    width : 500px;
    height : 500px;
    padding : 12px 23px 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ask9 {
    font-size: 20px;
    font-weight: 600;
}

.ask8 {
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
}

#modal-1 {
    cursor: pointer;
}

#modal-2 {
    cursor: pointer;
}

#modal-3 {
    cursor: pointer;
}

#modal-4 {
    margin-right: 70px;
    cursor: pointer;
}

.modal-close {
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: -180px;
}

.item-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 291px;
    border : 2px #7C7C7C solid;
    border-radius: 20px;
}

.item-image {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    width: 250px;
    height: 250px;
}

.item-content {
    margin-top: 70px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.end-time {
    font-weight: 600;
    color: #969393;
    margin-bottom: 30px;
}

.button {
    border: 3px solid #00BF08;
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    height: 20px;
    cursor: pointer;
}

.delete-and-payment {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 150px;
}

.delete-button {
    border: 3px solid #00BF08;
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 30px;
}

.payment-button {
    border: 3px solid #00BF08;
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    height: 40px;
    cursor: pointer;
}
