.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.line-box {
    width: 1920px;
    height: 3px;
    background-color: #29902C;
}

.line-use {
    margin-bottom: 10px;
    width: 1300px;
    height: 2px;
    background-color: gray;
}

.logo {
    margin-right: 1000px;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.notice-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid darkgreen;
    background-color: #29902C;
    color: darkgreen;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.login-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.list-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

/*여기까지 복사해서 사용하면 헤더 & 중간선 css*/

.impending-text {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.impending-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.pick-text {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pick-items {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.news {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
    height: 700px;
    background-color: #FFFFFF;
    border: 3px solid #29902C;
    border-radius: 15px;
}

.news-text {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
}

.pickup-text {
    display: flex;
    font-size: 15px;
    color: #7C7C7C;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-text {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.more-items {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.pickup-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.item {
    margin-right: 100px;
}


.pick {
    margin-right: 100px;
}

.more {
    margin-right: 100px;
}

/*모달*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    border : 5px #29902C solid;
    background: #FFFFFF;
    border-radius: 50px;
    width : 500px;
    height : 500px;
    padding : 12px 23px 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ask9 {
    font-size: 20px;
    font-weight: 600;
}

.ask8 {
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
}

#modal-1 {
    cursor: pointer;
}

#modal-2 {
    cursor: pointer;
}

#modal-3 {
    cursor: pointer;
}

#modal-4 {
    margin-right: 70px;
    cursor: pointer;
}

.modal-close {
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: -180px;
}
/*모달 끝*/







