<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/fragment/nav.css">
</head>
<body>

<header class="main-header" th:fragment="top" style="padding: 0px">
    <a href="/"><img class="logo" src="/image/logo.png" alt="로고"></a>
    <div class="header-buttons">
        <button class="notice-button" id="test_btn">알림</button>
        <button class="login-button" onclick="location.href='/log'">로그인</button>
        <button class="logout-btn" id="logout-button">로그아웃</button>
        <button class="logout-kakao-btn">로그아웃</button>
        <button id="list-button" class="list-button">목차</button>
    </div>
</header>
<!--목록 모달-->

<section class="modal" th:fragment="modal">
    <div class="modal-box">
        <div class="modal-inner">
            <div>
                <img id="modal-1" src="/image/modal-1.png" onclick="location.href='/cart'" alt="찜한 내역">
                <img id="modal-2" src="/image/modal-2.png" onclick="location.href='/payment'" alt="구매 내역">
                <img id="modal-3" src="/image/modal-3.png" onclick="location.href='/my-page'" alt="내 정보">
                <div class="show-only-buyer">
                    <img id="modal-4" src="/image/modal-4.png" onclick="location.href='/sellerList'" alt="판매 내역">
                </div>
            </div>
            <div class="modal-close-btn-area">
                <button class="modal-close">닫기</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/security.js"></script>
<script type="text/javascript" src="/fragment/nav.js"></script>
</body>
</html>