.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.line-box {
    width: 1920px;
    height: 3px;
    background-color: #29902C;
}

.line-use {
    margin-bottom: 10px;
    width: 1300px;
    height: 2px;
    background-color: gray;
}

.logo {
    margin-right: 1000px;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.impending-text {
    margin-right: 400px;
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.impending-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.pick-text {
    margin-right: 700px;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pick-items {
    display: flex;
    flex-direction: row;
}

.news {
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
    background-color: #FFFFFF;
    border: 3px solid #29902C;
    border-radius: 15px;
}

.news-text {
    font-size: 36px;
    font-weight: 600;
}

.pickup-text {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.more-text {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.more-items {
    display: flex;
    flex-direction: row;
}

.notice-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid darkgreen;
    background-color: #29902C;
    color: darkgreen;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.login-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.pickup-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.item {
    margin-right: 100px;
}


.pick {
    margin-right: 100px;
}

.more {
    margin-right: 100px;
}


