.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hr-2 {
    margin-top: 10px;
    width: 900px;
    height: 1px;
    background-color: gray;
}

.back-and-order-text {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.back-button {
    border: 3px solid #EE402E;
    background-color: #EE402E;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 126px;
    height: 48px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.order-text {
    font-size: 30px;
    font-weight: 600;
}

.order-content-box {
    margin-top: 20px;
    border : 5px #29902C solid;
    background: #FFFFFF;
    border-radius: 50px;
    width : 1233px;
    height : 550px;
}

.title {
    margin-top: 20px;
}

.title-text-front {
    font-size: 20px;
    font-weight: 600;
}

.title-text {
    font-size: 23px;
    font-weight: 600;
}

.order-content {
    margin-top: 20px;
}

#quantity {
    margin-top: 10px;
    width: 206px;
    height: 37px;
}

.input-quantity {
    margin-bottom: 20px;
    font-size: 20px;
}

.input-address {
    margin-bottom: 20px;
    font-size: 20px;
}

#address {
    margin-top: 10px;
    width: 206px;
    height: 37px;
}

#number {
    margin-top: 10px;
    width: 206px;
    height: 37px;
}

.input-number {
    margin-bottom: 20px;
    font-size: 20px;
}

/*.sum-item-and-result {*/
/*    font-size: 30px;*/
/*    font-weight: 600;*/
/*}*/

/*.kakao-pay {*/
/*    margin-top: 20px;*/
/*}*/

.create-order {
    font-size: 30px;
    font-weight: 600;
}

.create-order-btn {
    border: 3px solid #40B44B;
    background-color: #40B44B;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 126px;
    height: 48px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
}