.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.select input[type="radio"] {
    display: none;
}

.select {
    display: flex;
    align-items: center;
}

.select label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

/* 라디오 버튼 선택 시 네모 색상 변경 */
.select input[type="radio"]:checked + label {
    border-color: #ffc107;
    background-color: #ffc107;
}

/* 라벨 내부의 숫자 표시 */
.select label::after {
    content: attr(data-rating); /* 라벨의 data-rating 속성 값 표시 */
    position: absolute;
    top: 50%; /* 상단에서 중앙 정렬 */
    left: 50%; /* 좌측에서 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 위치 조정 */
    font-size: 14px; /* 숫자의 크기 설정 */
    font-weight: bold; /* 숫자의 굵기 설정 */
}

.text {
    border: none;
    resize: none;
    background-color: #F1F1F1;
}

.up-content {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.item-content {
    margin-top: 20px;
}

.point-and-star {
    display: flex;
    flex-direction: row;
}

.point {
    font-size: 30px;
    font-weight: 600;
    margin-right: 35px;
    margin-left: 40px;
}

.star {
    margin-top: 2px;
}

.item-and-name {
    display: flex;
    flex-direction: row;
}

.item-and-name {
    margin-top: 20px;
    margin-left: 40px;
}

.item-and {
    font-size: 20px;
    font-weight: 600;
}

.name {
    margin-left: 10px;
    font-size: 20px;
}

.add-text {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}

.buttons-1 {
    margin-left: 30px;
    margin-top: 40px;
}

.back-button {
    border: 3px solid #40B44B;
    background-color: #40B44B;
    color: white;
    border-radius: 10px;
    width: 126px;
    height: 35px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.move-to-item-button {
    border: 3px solid #40B44B;
    background-color: #40B44B;
    color: white;
    border-radius: 10px;
    width: 145px;
    height: 35px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.review-box {
    margin-top: 20px;
    margin-bottom: 20px;
    border : 5px #29902C solid;
    background: #FFFFFF;
    border-radius: 50px;
    width : 714px;
    height : 543px;
}

.how-was-item-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.help-text {
    margin-top: 20px;
    font-weight: 600;
    color: #D0D0D0;
}

.select {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.write-text {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.text {
    margin-top: 20px;
    width: 571px;
    height: 213px;
    margin-left: 70px;
}

.write-and-buttons {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 20px;
}

.upload {
    border: 3px solid #40B44B;
    background-color: #40B44B;
    color: white;
    border-radius: 10px;
    width: 145px;
    height: 35px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-left: 90px;
}