<!DOCTYPE html>
<html lang="en" data-theme="white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css"/>

    <style>
        .grid {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }

        .button {
            border-color: rgb(100, 82, 202);
            background-color: rgb(100, 82, 202);
            width: 170px;
            height: 80px;
        }
    </style>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
<main class="container" style="width: 700px;">
    <br>
    <br>
    <br>
    <br>
    <div style="border-radius: 10px; border: 5px solid green; padding: 20px; ">

        <h1>회원 가입 2단계</h1>
        <input type="hidden" id="loginId" th:value="${loginId}">
        <form id="joinForm2">

            <br>
            <div>
                <label>
                    <input type="radio" name="role" value="SELLER" checked> 판매자
                </label>
                <label>
                    <input type="radio" name="role" value="BUYER"> 구매자
                </label>
            </div>

            <br>

            <div class="grid">
                <div>
                    <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요.">
                </div>
                <button class="button" id="duplicateCheckButton" style="width: 150px; height: 60px;">중복 확인</button>
            </div>

            <div class="grid">
                <div>
                    <input type="text" id="address" name="address" placeholder="주소를 입력해주세요.">
                </div>
            </div>


            <input type="submit" value="가입하기">
        </form>

    </div>

</main>
<script type="text/javascript" src="/js/join2.js"></script>
</body>

</html>