<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>상품문의 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/productAsk.css">
</head>
<body>
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<div class="first_wrapper">
    <button class="back">뒤로가기</button>
    <h1>상품 문의하기</h1>
</div>
<div class="second_wrapper">
    <textarea class="ask" placeholder="문의사항을 입력해주세요"></textarea>
    <button class="askAdd">등록하기</button>
</div>
<!--댓글, 대댓글-->
<!--
oneRoute가 한 qna 객체이고, answer_data, answer_input 처음에 display=none 으로 설정.
1. 만일 qna객체에 answer이 없다면 버튼 눌럿을때 answer_input 박스 살아나게하고
2. 만일 qna객체에 answer이 있다면 answer_btn display=none, answer_data disply=보이게 설정하고 데이터 뿌려줌
-->
<div class="oneRoute" th:each="qna, index : ${qnaList}">
    <div class="ask_tab">
        <p class="nickname" th:text="${qna.userId}"></p>
        <div id="question">
            <p class="content" th:text="${qna.question}"></p>
            <!-- 답변 버튼 -->
            <button class="answer_btn" th:if="${#strings.isEmpty(qna.answer)}">답변하기</button>
        </div>
    </div>
    <!-- 답변란 -->
    <div class="answer_box" th:if="${not #strings.isEmpty(qna.answer)}" th:id="'answer_data_' + ${index}">
        <p class="content" th:text="${qna.answer}"></p>
    </div>
    <div class="answer_box" th:if="${#strings.isEmpty(qna.answer)}" th:id="'answer_input_' + ${index}">
        <textarea class="content" placeholder="답변을 입력하세요"></textarea>
        <button class="answer_send">등록</button>
    </div>
</div>

<script type="text/javascript" src="/fragment/nav.js"></script>
<script type="text/javascript" src="/js/productAsk"></script>
</body>
</html>