<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>판매자 판매현황 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/sellerDetails.css">
</head>
<body>
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<h1>세부 판매현황</h1>
<div class="current_time">
    현재시간 :<div th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">2024-04-25 18:00</div>
</div>
<div class="green-box">
    <div class="green-container">
        <div>
            <p>리뷰 글 수</p>
            <p class="input_data" th:text="${reviews.size()}">32</p>
        </div>
        <div>
            <p>문의 글 수</p>
            <p class="input_data" th:text="${QnAs.getCount()}">17</p>
        </div>
    </div>
</div>
<div class="middle_wrapper">
    <div>
        <h2>리뷰</h2>
        <div class="pink-box">
            <tr class="input_review" th:each="review:${reviews}">
                <td th:text="${review.getUserId()}">총총이</td>
                <td th:text="${review.getComments()}">굿굿 맛있어요</td>
                <br>
            </tr>
        </div>
    </div>
    <div>
        <h2>문의 사항</h2>
        <div class="pink-box">
            <tr class="input_count" th:each="qna:${QnAs.data}">
                <td th:text="${qna.getUserId()}">총총이</td>
                <td th:text="${qna.getQuestion()}">세일좀 안되나여?</td>
                <br>
            </tr>
        </div>
    </div>
</div>

<h1>주문 정보</h1>
<div class="table_wrapper">
    <table class="table_list">
        <thead class="table_title">
        <tr>
            <th>번호</th>
            <th>회원 아이디</th>
            <th>주문 가격</th>
            <th>주소</th>
            <th>주문 날짜</th>
        </tr>
        </thead>
        <tbody class="table_items">
        <tr>
            <td>1</td>
            <td>qwer1234</td>
            <td>23900</td>
            <td>경기도 성남시 블라블라</td>
            <td>2024-04-25</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/fragment/nav.js"></script>
</body>
</html>