<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 판매내역 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/sellerList.css">
</head>
<body>
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<h1>판매 현황</h1>
<div class="current_time">
    현재시간 :<div th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">2024-04-25 18:00</div>
</div>
<div class="green-box">
    <div class="green-container">
        <div>
            <p>판매글 업로드 개수</p>
            <p class="input_data" th:text="${items.size()}">3</p>
        </div>
        <div>
            <p>모집 완료</p>
            <p class="input_data_completed">0</p>
        </div>
        <div>
            <p>모집중</p>
            <p class="input_data_ing">0</p>
        </div>
        <button id="salesPostButton">판매상품 등록</button>
    </div>
</div>
<h1>판매 내역</h1>
<div class="table_wrapper">
    <table class="table_list">
        <thead class="table_title">
        <tr>
            <th>번호</th>
            <th>상품 아이디</th>
            <th>상품명</th>
            <th>단위당 가격</th>
            <th>목표 무게(g)</th>
            <th>마감 일자</th>
            <th>관리</th>
            <th>판매글</th>
            <th>모집 상태</th>
        </tr>
        </thead>
        <tbody class="table_items">
            <tr th:each="item, itemStat : ${items}">
                <td th:text="${itemStat.index + 1}"></td>
                <td class="getItemId" th:text="${item.getId()}"></td>
                <td th:text="${item.getName()}" th:attr="data-itemId=${item.getId()}"></td>
                <td th:text="${item.getPrice()}"></td>
                <td th:text="${item.getTotalSalesUnit()}"></td>
                <td th:text="${item.closedDate}"></td>
                <td class="moveDetails">관리 하러가기</td>
                <td class="moveItems">글 보러가기</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/sellerList.js"></script>
<script type="text/javascript" src="/fragment/nav.js"></script>
<script type="text/javascript" src="/js/security.js"></script>
</body>
</html>