<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>판매자 판매현황 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/sellerDetails.css">
</head>
<body>
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<h1>세부 판매현황</h1>
<div class="current_time">
    현재시간 :
    <div th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}">2024-04-25 18:00</div>
</div>
<div class="green-box">
    <div class="green-container">
        <div>
            <p>주문 개수</p>
            <p class="input_data" th:text="${sellerDetails.size()}"></p>
        </div>
        <div>
            <p>리뷰 글 수</p>
            <p class="input_data" th:text="${reviews.size()}"></p>
        </div>

        <div>
            <p>문의 글 수</p>
            <p class="input_data" th:text="${QnAs.size()}"></p>
        </div>
    </div>
</div>
<div class="middle_wrapper">
    <div>
        <h2>리뷰</h2>
        <button class="goToReview-button">리뷰 보러가기</button>
        <div class="pink-box">
            <table>
                <tbody>
                <tr th:each="review:${reviews}">
                    <td class="review-userId" th:text="${review.getUserNickname()}+ ' :'"></td>
                    <td th:text="${review.getComments()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h2>문의 사항</h2>
        <button class="goToAsk-button" th:onclick="'window.location.href=\'/question/' + ${itemId} + '\''">문의 사항 보러가기
        </button>
        <div class="pink-box">
            <table>
                <tbody>
                <tr th:each="qna:${QnAs}">
                    <td class="qna-userId" th:text="${qna.getUserNickname()}+' :'"></td>
                    <td th:text="${qna.getQuestion()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h1>주문 정보</h1>
<div class="table_wrapper">
    <table class="table_list">
        <thead class="table_title">
        <tr>
            <th>번호</th>
            <th>회원 닉네임</th>
            <th>총 주문 가격</th>
            <th>결제 상태</th>
            <th>환불 여부</th>
            <th>주소</th>
            <th>주문 날짜</th>
        </tr>
        </thead>
        <tbody class="table_items">
        <tr th:each="sellerDetail, sellerNumber : ${sellerDetails}">
            <td th:text="${sellerNumber.index}"></td>
            <td th:text="${sellerDetail.getUserNickname()}"></td>
            <td th:text="${sellerDetail.getTotalPrice()}"></td>
            <td>
                <span th:if="${sellerDetail.getIsPaid()}">결제 완료</span>
                <span th:unless="${sellerDetail.getIsPaid()}">결제 미완료</span>
            </td>
            <td>
                <span th:if="${sellerDetail.getIsRefunded()}">환불 완료</span>
                <span th:unless="${sellerDetail.getIsRefunded()}">환불 미완료</span>
            </td>
            <td th:text="${sellerDetail.getAddress()}"></td>
            <td th:text="${sellerDetail.getOrderDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/fragment/nav.js"></script>
<script type="text/javascript" src="/js/sellerDetails.js"></script>
</body>
</html>