.line-box {
    width: 100%; /* 변경: 화면 너비에 맞게 조정 */
    height: 3px;
    background-color: #29902C;
}

.line-use {
    margin-bottom: 10px;
    width: 100%; /* 변경: 화면 너비에 맞게 조정 */
    max-width: 1300px; /* 변경: 최대 너비 지정 */
    height: 2px;
    background-color: gray;
}

.logo {
    margin-right: auto; /* 변경: 자동 마진을 통해 왼쪽 정렬 */
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center; /* 변경: 세로 중앙 정렬 */
    justify-content: space-between; /* 변경: 가로 중앙 정렬 */
    margin-right: 60px;
    margin-left: 60px;
}

.notice-button {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid darkgreen;
    background-color: #29902C;
    color: darkgreen;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.login-button,
.list-button,
.logout-kakao-btn,
.logout-btn {
    margin-top: 10px;
    margin-right: 20px;
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.logout-btn {
    display: none;
}

.logout-kakao-btn {
    display: none;
}

/*모달*/
.modal {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    display: flex;
    justify-content: space-around;
    border: 5px #29902C solid;
    background: #FFFFFF;
    border-radius: 50px;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
}

.show-only-buyer {
    display: flex;
}

.modal-close-btn-area {
    display: flex;
    justify-content: flex-end;
}

.ask9 {
    font-size: 20px;
    font-weight: 600;
}

.ask8 {
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
}

#modal-1 {
    cursor: pointer;
}

#modal-2 {
    cursor: pointer;
}

#modal-3 {
    cursor: pointer;
}

#modal-4 {
    cursor: pointer;
}

.modal-close {
    border: 3px solid green;
    background-color: #FFFFFF;
    font-size: 15px;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

/*모달 끝*/
