<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 완료 확인 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/check-order.css">
</head>
<body class="body">
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<img class="check" src="/image/check.png" alt="체크">
<p class="order-text">주문이 완료되었습니다.</p>
<p class="payment-sum-text">결제금액</p>
<p class="payment-sum">20,000원</p>
<button class="view-order">주문내역 상세보기</button>
<button class="go-to-main">메인으로 돌아가기</button>
<!--목록 모달-->
<section class="modal">
    <div class="modal-box">
        <div class="modal-inner">
            <div>
                <p class="ask9">구매자이신가요?</p>
                <img id="modal-1" src="/image/modal-1.png" alt="찜한 내역">
                <img id="modal-2" src="/image/modal-2.png" alt="구매 내역">
                <img id="modal-3" src="/image/modal-3.png" alt="내 정보">
                <p class="ask8">판매자이신가요?</p>
                <img id="modal-4" src="/image/modal-4.png" alt="판매 내역">
                <button class="modal-close">닫기</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/check-order.js"></script>
<script type="text/javascript" src="/fragment/nav.js"></script>
</body>
</html>