<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구매자 리뷰 작성 페이지</title>
    <link rel="stylesheet" href="/css/create-review.css">
</head>
<body class="body">
<header class="main-header">
    <img class="logo" src="/image/logo.png" alt="로고">
    <button class="notice-button">알림</button>
    <button class="login-button">로그아웃</button>
    <button class="list-button">목록</button>
</header>
<div class="line-box"></div>
<div class="up-content">
    <img class="item-image" src="/image/item-review.png" alt="상품-리뷰 아이템">
    <div class="item-content">
        <div class="point-and-star">
            <div class="point">
                4
            </div>
            <div class="star">
                <img class="star" src="/image/star.png" alt="별점">
                <img class="star" src="/image/star.png" alt="별점">
                <img class="star" src="/image/star.png" alt="별점">
                <img class="star" src="/image/star.png" alt="별점">
            </div>
        </div>
        <div class="item-and-name">
            <div class="item-and">상품명 :</div>
            <div class="name">못난이 감자 3Kg</div>
        </div>
        <div class="add-text">
            상품의 후기를 적어주세요.
        </div>
        <div class="buttons-1">
            <button class="back-button">뒤로가기</button>
            <button class="move-to-item-button">상품 보러가기</button>
        </div>
    </div>
</div>
<div class="review-box">
    <div class="how-was-item-text">상품은 어떠셨나요?</div>
    <div class="help-text">별점 단계를 선택해주세요.</div>
    <form class="select">
        <input type="radio" id="star1" name="star" value="1">
        <label for="star1" data-rating="1"></label>
        <input type="radio" id="star2" name="star" value="2">
        <label for="star2" data-rating="2"></label>
        <input type="radio" id="star3" name="star" value="3">
        <label for="star3" data-rating="3"></label>
        <input type="radio" id="star4" name="star" value="4">
        <label for="star4" data-rating="4"></label>
        <input type="radio" id="star5" name="star" value="5">
        <label for="star5" data-rating="5"></label>
    </form>
    <div class="write-and-buttons">
        <div class="write-text">상품에 대한 후기를 자유롭게 작성해주세요.</div>
        <textarea class="text" placeholder="후기를 작성해주세요." cols="30" rows="10"></textarea>
        <div class="buttons">
            <input type="file" class="image-upload">
            <button class="upload">후기 등록하기</button>
        </div>
    </div>
</div>
<!--목록 모달-->
<section class="modal">
    <div class="modal-box">
        <div class="modal-inner">
            <div>
                <p class="ask9">구매자이신가요?</p>
                <img id="modal-1" src="/image/modal-1.png" alt="찜한 내역">
                <img id="modal-2" src="/image/modal-2.png" alt="구매 내역">
                <img id="modal-3" src="/image/modal-3.png" alt="내 정보">
                <p class="ask8">판매자이신가요?</p>
                <img id="modal-4" src="/image/modal-4.png" alt="판매 내역">
                <button class="modal-close">닫기</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/create-review.js"></script>
</body>
</html>