<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공동 구매 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/group-buying.css">
</head>
<body class="body">
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<div class="menu">
    <img src="/image/item.png" class="item-image" alt="제품사진">
    <div class="item-content">
        <div class="star-review">
            <div class="point" th:if="${#lists.isEmpty(reviews)}">0.0</div>
            <div class="point" th:if="${not #lists.isEmpty(reviews)}" th:text="${reviews[0].starPoint}"></div>
            <div class="star-review"></div>
        </div>
        <div class="title-price">
            <span style="font-size: 25px">상품명 :</span>&nbsp;<div class="title" th:text="${item.name}"></div>
            <div class="price" th:text="${item.price}"></div><span style="font-size: 25px">원</span>
        </div>
        <div class="data-time">
            작성일 : &nbsp;<div class="create-time" th:text="${item.createdDate}"></div>&nbsp;
            마감일 : <div class="end-time" th:text="${item.closedDate}"></div>
        </div>
        <div class="젤 작은 구분선 예정"></div>
        <div class="createdFrom">
            <div class="createdFrom-text">생산지 :</div>&nbsp;
            <div class="createdFrom-place" th:text="${item.productionPlace}"></div>
        </div>
        <div class="minimum-purchase-unit">최소 구매 단위는&nbsp;<span th:text="${item.minUnitWeight}" style="color:red">3</span>KG 입니다.</div>
        <div class="buttons">
            <button class="join-group-buying">공구 참여</button>
            <button class="join-cart">찜하기</button>
            <button class="ask">문의하기</button>
        </div>
    </div>
</div>
<div class="description">
    <div class="hr-1"></div>
    <div class="description-text" th:text="${item.description}"></div>
</div>
<div class="review-list">
    <div class="review-count">후기&nbsp;<span th:text="${reviews.size()}" style="color:orange"></span>개</div>
    <div class="hr-2"></div>
    <div class="review">

    </div>
</div>

<!--목록 모달-->
<section class="modal">
    <div class="modal-box">
        <div class="modal-inner">
            <div>
                <p class="ask9">구매자이신가요?</p>
                <img id="modal-1" onclick="location.href='/cart-list'" src="/image/modal-1.png" alt="찜한 내역">
                <img id="modal-2" onclick="location.href='/purchase_history'" src="/image/modal-2.png" alt="구매 내역">
                <img id="modal-3" onclick="location.href='/my-page'" src="/image/modal-3.png" alt="내 정보">
                <p class="ask8">판매자이신가요?</p>
                <img id="modal-4" onclick="location.href='/sellerList'" src="/image/modal-4.png" alt="판매 내역">
                <button class="modal-close">닫기</button>
            </div>
        </div>
    </div>
</section>

<!--공구 현황 알림 모달-->

<!--1) 공구 모집 기간이 종료되었습니다.-->
<section class="notice-modal">
    <div class="notice-modal-box">
        <div class="notice-modal-inner">
            <div class="notice-content">
                <div class="notice">
                    <div class="notice-title">
                        공구 모집 기간이 종료되었습니다.
                    </div>
                    <div class="notice-text">
                        인원 모집에 실패하여 공구가 자동 취소되었습니다. <br>
                        근무일 2~3일안으로 자동 환불 예정입니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--2) 공구가 완료되었습니다.-->
<section class="notice-modal">
    <div class="notice-modal-box">
        <div class="notice-modal-inner">
            <div class="notice-content">
                <div class="notice">
                    <div class="notice-title">
                        공구가 완료되었습니다.
                    </div>
                    <div class="notice-text">
                        상품이 정상적으로 배송 진행될 예정입니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--3) 마감일 안내-->
<section class="notice-modal">
    <div class="notice-modal-close-box">
        <div class="notice-modal-inner">
            <div class="notice-content">
                <div class="notice">
                    <div class="notice-title">
                        마감<span style="color:red">4</span>일 전
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/group-buying.js"></script>
<script type="text/javascript" src="/fragment/nav.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>