<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 이후 메인페이지</title>
    <link rel="stylesheet" href="/mainAfter.css">
</head>
<body class="body">
<header class = "main-header">
    <img class = "logo" src="/image/logo.png" alt="로고">
    <button class="notice-button">알림</button>
    <button class="login-button">로그아웃</button>
    <button class="list-button">목록</button>
</header>
<div class="line-box"></div>
<div class = "impending-text">놓치지 말아야 할 기회! 마감 임박 상품들</div>
<div class="impending-items">
</div>
<div class="line-use"></div>
<div class="pick-news-text">
    <div class = "pick-text">많이 Pick한 인기 상품들</div>
</div>
<div class = "pick-items" onclick="location.href='/group-buying'" id="popular-items-container">
</div>
<div class="line-use"></div>
<div class="news-text">최근 앨런 뉴스</div>
<div class="news">
        <div class="news-content">
        </div>
</div>
<div class="line-use"></div>
<div class="pickup-text">원하시는 상품을 골라보세요.</div>
<div>
    <button class="pickup-button">채소</button>
    <button class="pickup-button">과일</button>
    <button class="pickup-button">기타</button>
</div>
<div class="more-text">더 많은 상품들!</div>
<div class="more-items" onclick="location.href='/group-buying'" id="items-container">
</div>

<!--목록 모달-->
<section class="modal">
    <div class="modal-box">
        <div class="modal-inner">
            <div>
                <p class="ask9">구매자이신가요?</p>
                <img id="modal-1" onclick="location.href='/cart-list'" src="/image/modal-1.png" alt="찜한 내역">
                <img id="modal-2" onclick="location.href='/purchase_history'" src="/image/modal-2.png" alt="구매 내역">
                <img id="modal-3" onclick="location.href='/my-page'" src="/image/modal-3.png" alt="내 정보">
                <p class="ask8">판매자이신가요?</p>
                <img id="modal-4" onclick="location.href='/sellerList'" src="/image/modal-4.png" alt="판매 내역">
                <button class="modal-close">닫기</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/mainAfter.js" ></script>
</body>
</html>