<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="body">
<header class = "main-header">
    <img class = "logo" src="/image/logo.png" alt="로고">
    <button class="notice-button">알림</button>
    <button class="login-button" onclick="location.href='/login.html'">로그인</button>
</header>
<div class="line-box"></div>
<div class="impending-text">놓치지 말아야 할 기회! 마감 임박 상품들</div>
<div class="impending-items" onclick="location.href='/group-buying'">
</div>
<div class="line-use"></div>
<div class="pick-news-text">
    <div class="pick-text">많이 Pick한 인기 상품들</div>
</div>
<div class="pick-items" id="popular-items-container">
</div>
<div class="news">
    <div class="news-content">
    </div>
</div>
<div class="line-use"></div>
<div class="pickup-text">원하시는 상품을 골라보세요.</div>
<div>
    <button class="pickup-button">채소</button>
    <button class="pickup-button">과일</button>
    <button class="pickup-button">기타</button>
</div>
<div class="more-text">더 많은 상품들!</div>
<div class="more-items" id="items-container">
</div>
<script type="text/javascript" src="/js/main.js" ></script>
</body>
</html>