<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/fragment/nav.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="body">
<div th:replace="~{fragment/nav :: top}"></div>
<div th:replace="~{fragment/nav :: modal}"></div>
<div class="line-box"></div>
<div class="body_wrapper">
    <div class="impending-text">놓치지 말아야 할 기회! 마감 임박 상품들</div>
    <div class="impending-items">
        <div class="item">
            <img src="/image/item.png" alt="제품사진">
            <div>
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="item">
            <img src="/image/item.png" alt="제품사진">
            <div class="description">
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="item">
            <img src="/image/item.png" alt="제품사진">
            <div class="description">
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
    </div>
    <div class="line-use"></div>
    <div class="pick-news-text">
        <div class="pick-text">많이 Pick한 인기 상품들</div>
    </div>
    <div class="pick-items">
        <div class="pick">
            <img src="/image/item.png" alt="제품사진">
            <div>
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="pick">
            <img src="/image/item.png" alt="제품사진">
            <div class="description">
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="pick">
            <img src="/image/item.png" alt="제품사진">
            <div class="description">
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="news">
            <div>
                엘런 뉴스 내용<br>
                엘런 뉴스 내용<br>
                엘런 뉴스 내용<br>
                엘런 뉴스 내용<br>
                엘런 뉴스 내용<br>
                엘런 뉴스 내용
            </div>
        </div>
    </div>
    <div class="line-use"></div>
    <div class="pickup-text">원하시는 상품을 골라보세요.</div>
    <div>
        <button class="pickup-button">채소</button>
        <button class="pickup-button">과일</button>
        <button class="pickup-button">기타</button>
    </div>
    <div class="more-text">더 많은 상품들!</div>
    <div class="more-items">
        <div class="more">
            <img src="/image/item.png" alt="제품사진">
            <div>
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="more">
            <img src="/image/item.png" alt="제품사진">
            <div>
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>
                <div>7900원</div>
            </div>
        </div>
        <div class="more">
            <img src="/image/item.png" alt="제품사진">
            <div>
                <div>[30kg/40kg]</div>
                <div>무농약 아담한 감자</div>


                <div>7900원</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/security.js"></script>
<script type="text/javascript" src="/fragment/nav.js"></script>
</body>
</html>