<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문서 조회 및 수정 페이지</title>
    <link rel="stylesheet" href="/css/modify-order.css">
</head>
<body class="body">
<header class="main-header">
    <img class="logo" src="/image/logo.png" alt="로고">
    <button class="notice-button">알림</button>
    <button class="login-button">로그아웃</button>
    <button class="list-button">목록</button>
</header>
<div class="line-box"></div>
<div class="back-and-order-text">
    <button class="back-button">뒤로가기</button>
    <div class="up-text">
        <div class="notice">Notice!</div>
        <div class="order-text">공동구매가 확정된 후 주소를 변경하시면 배송 착오가 있을 수 있습니다.</div>
    </div>
</div>
<div class="order-content-box">
    <div class="title">
        <div class="title-text-front">상품명</div>
        <div class="title-text">못난이 아담한 감자</div>
    </div>
    <div class="order-content">
        <div class="input-address">
            <div class="input">받는분 주소</div>
            <div class="address"><input type="text" id="address" name="받는분 주소"></div>
            <button class="modify-button">수정</button>
            <button class="save-button">저장</button>
        </div>
        <div class="input-number">
            <div class="input">받는분 연락처</div>
            <div class="number"><input type="tel" id="number" name="받는분 연락처"></div>
            <button class="modify-button">수정</button>
            <button class="save-button">저장</button>
        </div>
    </div>
    <div class="sum-item-and-result">
        <div class="sum-item">총 결제 금액</div>
        <div class="result"><span style="color:orange">20,000</span>원</div>
    </div>
</div>
<!--목록 모달-->
<section class="modal">
    <div class="modal-box">
        <div class="modal-inner">
            <div>
                <p class="ask9">구매자이신가요?</p>
                <img id="modal-1" src="/image/modal-1.png" alt="찜한 내역">
                <img id="modal-2" src="/image/modal-2.png" alt="구매 내역">
                <img id="modal-3" src="/image/modal-3.png" alt="내 정보">
                <p class="ask8">판매자이신가요?</p>
                <img id="modal-4" src="/image/modal-4.png" alt="판매 내역">
                <button class="modal-close">닫기</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/modify-order.js"></script>

</body>
</html>